@{
    ViewBag.Title = "bangDieuKhien";
    Layout = "~/Views/Shared/LayoutChungAdmin.cshtml";
}

<div class="row mt-3">
    <div class="tieuDe">
        <p>Bảng điều khiển</p>
    </div>
</div>
<div class="row mt-2">
    <div >
        <div class="row">
            <div class="col-md-6">
                <div class="cacChucNang">
                    <div>
                        <p style="color: red;">TỔNG KHÁCH HÀNG</p>
                        <p>100 khách hàng</p>
                        <small>Tổng số khách hàng được quản lý</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cacChucNang">
                    <div>
                        <p style="color: red;">TỔNG SẢN PHẨM</p>
                        <p>1999 sản phẩm</p>
                        <small>Tổng số sản phẩm được quản lý</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="cacChucNang">
                    <div>
                        <p style="color: red;">TỔNG ĐƠN HÀNG</p>
                        <p>200 đơn hàng</p>
                        <small>Tổng số hóa đơn bán trong tháng</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cacChucNang">
                    <div>
                        <p style="color: red;">SẮP HẾT HÀNG</p>
                        <p>20 sản phẩm</p>
                        <small>Số sản phẩm cảnh báo hết cần nhập thêm</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="col-md-5 border">
        biểu đồ
    </div>*@
</div>
