@{
    ViewBag.Title = "BaoCaoDoanhThu";
    Layout = "~/Views/Shared/LayoutChungAdmin.cshtml";
}

<div class="row mt-3">
    <div class="tieuDe">
        <p>Báo cáo doanh thu</p>
    </div>
</div>
<div class="row mt-2">
    <div class="row">
        <div class="dsSP">
            <div style="width: 210px;">
                <label for="" style="font-weight: bold;">Doanh thu tháng</label>
                <select class="form-select ">
                    <option>-- Chọn doanh thu tháng --</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <table class="table text-center">
                <tr>
                    <th>Nhà cung cấp</th>
                    <th>Loại sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng thực</th>
                    <th>Doanh thu</th>
                    <th>Tổng doanh thu</th>
                </tr>
                <tr>
                    <td>Honda</td>
                    <td>Bô xăng lửa</td>
                    <td>Bô xăng lửa</td>
                    <td>90</td>
                    <td>100.000.000 VNĐ</td>
                    <td>42.000.000 VNĐ</td>
                    <td>42.000.000 VNĐ</td>
                </tr>
                <tr>
                    <td colspan="3">TỔNG</td>
                    <td>270</td>
                    <td>300.000.000 VNĐ</td>
                    <td>54.000.000 VNĐ</td>
                    <td>126.000.000 VNĐ</td>
                </tr>
            </table>
        </div>
    </div>
</div>
